.homePage__info {
  display: flex;
  justify-content: center;
  align-items: center;

  &-buttonBlock {
    margin-top: 38px;
  }

  &-button-icon {
    width: 33px;
    height: 32px;
    background-image: url("../../atom/Icon/svg/arrowRD.svg");
  }

  @media (max-width: 767px) {
    order: 1;
    margin: 0;
    width: 88%;
  }
}

.button {
  font-family: "DM Sans", sans-serif;
  background: #566ffe;
  padding: 12px 20px;
  border-radius: 40px;
  color: #ecf1f9;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #ecf1f9;
  }

  &.light {
    background: transparent;
    color: #fbfbfb;
    border: 2px solid #ecf1f9;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.not-connected_button {
  width: 320px;
}

[data-theme="dark"] .light {
  color: #ecf1f9;
}

.disabledEl {
  opacity: 0.5;
  pointer-events: none;
}
