.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #000;
  line-height: 24px;
}

.labelPrimary {
  color: #fff;
}

.labelSecondary {
  color: #2c9b8e;
}

.labelSmall {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.labelMedium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.labelLarge {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.labelExtraLarge {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
