.profile__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile__balance--container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ecf1f9;
  border-radius: 40px;
  padding: 1px;
  position: relative;
}
.profile__balance {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #ecf1f9;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: #081326;
  height: 42px;
  min-width: 120px;
  display: flex;
  align-items: center;
  padding: 8px 22px 8px 15px;
  box-sizing: border-box;
  margin-right: -20px;
}

.profile__controls .button.connected {
  background: #c2cbff;
  color: #262b92;
  width: 140px;
  height: 42px;
  border: 1px solid rgba(3, 7, 16, 0.6);
  padding: 7px 5px;
}
.profile__avatar {
  width: 26px !important;
  height: 26px !important;
  border-radius: 100%;
}
.profile__balance--container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  color: #ecf1f9;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.notconnected {
  background-color: #566ffe;
  width: 140px;
  padding: 10px 5px;
}
.profileBarAccountOpen__container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
