.smallKeyTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  div {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(251, 251, 251, 0.8);
    transition: all 0.3s ease;
  }

  &__isActive {
    div {
      color: #ecf1f9;
      transition: all 0.3s ease;
    }
  }
}
