.keyReward__block {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.keyReward__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ecf1f9;
  white-space: nowrap;
}

.keyReward__value {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ecf1f9;
}
