.founderKeyCardWrapper {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.founderKeyCardWrapper .founderKeyCardTab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.scrollContainer {
  padding: 12px 0;
}
@media (max-width: 992px) {
  .founderKeyCardWrapper {
    max-width: 100%;
  }
}
